{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="mb-4 mt-3">Update a Cupcake!</h1>
  <form
    action="/"
    enctype="multipart/form-data"
    id="update_cupcake_form"
    data-id="{{cupcake.id}}"
  >
    <div class="container">
      {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div class="mt-4">
        <label for="{{field.id}}" class="form-label">{{field.label}}</label>
        {{ field(class='form-control')}} {% for error in field.errors %}
        <div class="form-text text-danger">{{error}}</div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="container d-flex justify-content-start">
      <button class="btn btn-primary mt-4 btn-lg">Update</button>
      <a href="/" class="btn btn-outline-danger mt-4 ms-2 btn-lg">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
